body {
  background-image: url("background.jpg");
  background-position: -50px 0px;
  background-size: 125%;
  font-family: Verdana;
  color: white;
}

.top1 {
  background-image: url("nav-bg.png");
  background-position: 0px 12px;
  width: 940px;
}

.logo {
  height: 100px;
  margin: 0px;
}

.logo > li {
  vertical-align: middle;
  list-style: none;
  display: inline-block;
  font-size: 22pt;
  font-weight: bold;
  color: white;
}

.logo > li > img {

}
.board {
  width: 940px;
  text-align: center;
  padding: 0px;
  background: none;
  background: rgba(25, 30, 60, .4);
  border-radius: 10px;
}

.headers > th {
  border: 1pt solid white;
  border-radius: 5px;
  width: 100px;
}

.team {
  width: 80px;
  padding: 2px;
}

.team > a {
  text-decoration: none;
  background-color: #52A3CC;
  color: white;
  display: block;
  width: 95%;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.team > a:hover {
  background-color: #52ACEF;
}

.button {
  text-decoration: none;
  background-color: #52A3CC;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

.button:hover {
  background-color: #52ACEF;
}

#pagetitle {
  padding-left: 24px;
}

#teamhead {
  border: none;
}
